@page
@using RPInventory.Models
@model RPInventory.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create User";
}
<h4>@ViewData["Title"]</h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="User.ProfileId" class="control-label"></label>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">
                        <i class="fa-solid fa-users"></i>
                    </label>
                    <select asp-for="User.ProfileId" class="form-select" asp-items="Model.Profiles">
                        <option value="">---Select Profile---</option>
                    </select>
                </div>
                <span asp-validation-for="User.ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Lastname" class="control-label"></label>
                <input asp-for="User.Lastname" class="form-control" />
                <span asp-validation-for="User.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CelPhone" class="control-label"></label>
                <input asp-for="User.CelPhone" class="form-control" />
                <span asp-validation-for="User.CelPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PasswordConfirm" class="control-label"></label>
                <input asp-for="User.PasswordConfirm" class="form-control" />
                <span asp-validation-for="User.PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <partial name="Actions/_Create" />
            </div>
        </div>
        @* Implementación Imágenes *@
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Photo" style="width: 100%;"></label>
                @if (Model.User.Photo != null)
                {
                    <img id="Photo" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.User.Photo))">
                }
                else
                {
                    <img id="Photo" style="width:350px;height:350px; object-fit:cover" src="">
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="User.Photo"
                       class="form-control"
                       onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="User.Photo" class="text-danger"></span>
            </div>
        </div>
        @* Implementación Imágenes *@
    </div>
</form>
<span class="fa-solid fa-spinner fa-5x spinner" id="ajax-loader"></span>
@section Scripts {
    <script src="~/js/app.js"></script>
    <script src="~/js/servicios-ajax.js"></script>
    <script src="~/js/servicio-datos.js"></script>
    <script src="~/js/crearUservm.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
